<footer class="page-footer">
  <div class="footer-copyright blue-grey darken-3">
    <div class="container">
      © <%= Time.now.year %> И.П. Кудряшов.С.С., Художественная мастерская «Северное сияние».
    </div>
  </div>
</footer>