<div class="product-flexbox">
  <div class="image-block"><%= image_tag('') %></div>
  <div class="description-grid">
    <div class="title-block">Название товара тут.</div>
    <div class="price-block"><span>6 450</span> <span>₽</span></div>
    <div class="count-block">
      <i class="material-icons">remove</i>
      <i class="material-icons">add</i>
    </div>
    <div class="delete-block"><i class="material-icons">delete_forever</i></div>
  </div>
</div>