<% 
  count_products = Product.where(available: true, unique: false).count
  unless count_products == 0
%>

  <section class="section" id="will_like">
    <div class="container">
      <h2 class="section__title">Возможно вам понравится</h2>
      <div class="products_grid products_grid--will_like">
        <% Product.where(available: true, unique: false).limit(4).offset(rand(0..count_products - 4)).each do |product| %>
          <%= render partial: 'includes/product_card', locals: { product_card: product } %>
        <% end %>
      </div>
    </div>
  </section>
<% else %>
  <section class="section" id="will_like">
    <div class="container">
      <h2 class="section__title">Пока что тут пусто :-(</h2>
    </div>
  </section>
<% end %>