<% unless @count_products == 0 %>
  <section class="section" id="will_like">
    <div class="container">
      <h2 class="section__title">Возможно вам понравится</h2>
      <div class="products_grid products_grid--will_like">
        <% @rand_will_like_product.each do |product| %>
          <% cache(product) do %>
            <%= render partial: 'includes/product_card', locals: { product_card: product } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
<% else %>
  <section class="section" id="will_like">
    <div class="container">
      <h2 class="section__title">Пока что тут пусто :-(</h2>
    </div>
  </section>
<% end %>