// Place all the styles related to the shop/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '../application.scss';
@import '../includes/client_header.scss';
@import '../includes/client_footer.scss';
@import '../includes/product_flexbox.scss';
@import '../includes/sidemenu.scss';
@import '../includes/tap_target.scss';
@import '../includes/to_order.scss';
@import '../includes/checkbox_confirm.scss';

section#product_list {
  background-color: #fafafa;
  padding-left: 10px;
  padding-right: 10px;
  #all_your_products {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    margin-bottom: 40px;
    .product-flexbox {
      border-bottom: 1px solid #e0e0e0;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

section#form-order {
  padding-left: 10px;
  padding-right: 10px;
  form {
    width: 50%;
    .input-field {
      input[type=text]:focus + label, input[type=tel]:focus + label, textarea:focus + label {
        color: #4a148c;
      }
      input[type=text]:focus, input[type=tel]:focus, textarea:focus {
        border-bottom: 1px solid #4a148c;
        box-shadow: 0 1px 0 0 #4a148c;
      }
      input[type="submit"] {
        color: #fff;
      }
    }
  }
}

@media (max-width: 600px) {
  section#product_list {
    #all_your_products {
      margin-bottom: 20px;
    }
  }
  section#form-order {
    form {
      width: 100%;
      .input-field {
        i {
          margin-left: calc(50% - 55px);
        }
      }
    }
  }
}
