<% content_for :title, 'Поиск товаров' %>
<% content_for :body do %>
  <section class="section section--grey section--full-height">
    <div class="container">
      <h2 class="section__title">Поиск товаров</h2>
      <div class="input-field search-field">
        <i class="material-icons prefix">search</i>
        <input type="text" id="autocomplete-input" class="autocomplete">
        <label for="autocomplete-input">Поиск</label>
      </div>
      <div id="search-result">

      </div>
    </div>
  </section>
<% end %>