header {
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  nav {
    position: fixed;
    margin-bottom: 50px;
    z-index: 1001;
    a {
      font-size: 19px;
      font-weight: 400;
    }
  }
}

@media (max-width: 992px) {
  header {
    text-align: center;
    padding-bottom: 10px;
  }
}