footer {
  padding-top: 70px;
  h5, p {
    margin-top: 0;
    margin-bottom: 23px;
    font-size: 30px;
    font-weight: 700;
    line-height: 27px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
  }
  .logo2 {
    img {
      width: 171px;
      height: 152px;
    }
  }
  .instagram_logo {
    height: 37px;
    width: 37px;
  }
  a {
    color: white;
  }
  .block-phone {
    margin-top: 50px;
    color: white;
    p {
      &:first-child {
        margin-bottom: 0;
      }
      &:last-child {
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
  .footer-copyright {
    padding-top: 5px;
    padding-bottom: 5px;
    .copy-flexbox {
      display: flex;
      justify-content: space-between;
      padding-left: 10px;
      padding-right: 10px;
      align-items: center;
      p {
        margin-bottom: 0;
        color: white;
        opacity: 0.8;
      }
      img {
        width: 80px;
      }
    }
  }
}
@media (max-width: 992px) {
  footer {
    padding-top: 35px;
    h5, p {
      text-align: center;
    }
    p {
      margin-bottom: 10px;
    }
    .block-phone {
      margin-top: 0;
    }
    .logo2 {
      display: none;
    }
  }
}
@media (max-width: 684px) {
  footer {
    padding-top: 20px;
    h5 {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 10px;
    }
    p {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 10px;
    }
    .footer-copyright {
      .copy-flexbox {
        p {
          font-size: 11px;
        }
      }
    }
  }
}
@media (max-width: 503px) {
  footer {
    .footer-copyright {
      .copy-flexbox {
        justify-content: center;
      }
    }
  }
}