#order-modal {
  width: 310px;
  height: 410px;
  min-height: 410px;
  box-sizing: border-box;
  padding: 35px 40px;
  top: 50% !important;
  transform: translateY(-50%) !important;
  .order-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: color .3s ease;
    &:hover {
      color: #4a148c;
    }
  }
  h5 {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .order-modal-font {
    font-size: 12px;
    a {
      color: #4a148c;
      text-decoration: underline;
    }
    &:before {
      top: 2px;
    }
    &:after {
      top: 2px;
    }
  }
  .center-submit {
    display: block !important;
    width: 112px !important;
    margin: 0 auto !important;
  }
}