.to_order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: black;
    span {
      color: #4a148c;
      &:last-child {
        font-size: 25px;
      }
      &:last-child {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 350px) {
  .to_order {
    p {
      font-size: 16px;
      span {
        &:last-child {
          font-size: 20px;
        }
        &:last-child {
          font-size: 18px;
        }
      }
    }
  }
}