<% content_for :title, 'Редактирование портфолио' %>
<% content_for :body do %>
  <section class="section section--grey section--full-height">
    <div class="container">
      <h2 class="section__title">Редактировать портфолио</h2>
      <%= link_to 'Назад', admin_portfolios_path, {class: 'purple darken-4 waves-effect waves-light btn castom-button castom-button--purple'} %>
      <%= image_tag(@portfolio.large_picture, alt: @portfolio.name, class: 'image-block image-block--margin-top') %>
      <%= render 'includes/portfolio_form' %>
    </div>
  </section>
<% end %>
    