<section class="section section--grey section--full-height">
  <div class="container">
    <h2 class="section__title">Создать запись о демонстрационном проекте</h2>
    <%= render 'includes/portfolio_form' %>
  </div>
</section>