<% content_for :title, 'Новое портфолио' %>
<% content_for :body do %>
  <section class="section section--grey section--full-height">
    <div class="container">
      <h2 class="section__title">Создать запись о демонстрационном проекте</h2>
      <%= link_to 'Назад', admin_portfolios_path, {class: 'purple darken-4 waves-effect waves-light btn castom-button castom-button--purple'} %>
      <%= render 'includes/portfolio_form' %>
    </div>
  </section>
<% end %>