@import '../includes/admin_header.scss';
@import '../includes/admin_footer.scss';

.empty-index {
    font-size: 16px;
    color: black;
    &--center {
        margin-top: 100px;
        text-align: center;
    }
}

.image-block {
    display: block;
}

.image-block--margin-top {
    margin-top: 25px;
}

body {
    min-width: 1200px;
}