<% content_for :title, 'Категории' %>
<% content_for :body do %>
  <section class="section section--grey section--full-height">
    <div class="container">
      <h2 class="section__title">Категории</h2>
      <% if @categories.any? %>
        <% @categories.each do |category| %>  
          <div class="horizontal-grid horizontal-grid--category-elements-position horizontal-grid--margin-top-position">
            <h3 class="horizontal-grid__item-title"><%= category.name %></h3>
            <div class="horizontal-grid__item-description">
              <%= category.description %>
            </div>
            <div class="horizontal-grid__item-edit">
              <%= link_to edit_admin_category_path(category.id) do %>
                <i class="material-icons">edit</i>
              <% end %>
            </div>
            <div class="horizontal-grid__item-delete">
              <%= link_to admin_category_path(category.id), method: :delete do %>
                <i class="material-icons">delete_forever</i>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <h3 class="empty-index empty-index--center">Пока что категорий нет :'(</h3>
      <% end %>
    </div>
  </section>
<% end %>