<section class="section section--grey section--full-height">
  <div class="container">
    <h2 class="section__title">Создать категорию</h2>
    <%= render 'includes/category_form' %>
  </div>
</section>