<section class="section section--grey section--full-height">
  <div class="container">
    <h2 class="section__title">Редактировать товар</h2>
    <%= image_tag(@product.large_picture, alt: @product.name, class: 'image-block image-block--margin-top') %>
    <%= render 'includes/product_form' %>
  </div>
</section>