<% content_for :title, 'Создать товар' %>
<% content_for :body do %>
  <section class="section section--grey section--full-height">
    <div class="container">
      <h2 class="section__title">Создать товар</h2>
      <%= link_to 'Назад', :back, {class: 'purple darken-4 waves-effect waves-light btn castom-button castom-button--purple castom-button--margin-bottom'} %>
      <%= render 'includes/product_form' %>
    </div>
  </section>
<% end %>