<section class="section">
  <div class="container">
    <% unless @products.empty? %>
      <h2 class="section__title"><%= @category.name %></h2>
      <div class="products_grid products_grid--all_products">
        <% @products.each do |product| %>
          <%= render partial: 'includes/product_card', locals: { product: product } %>
        <% end %>
      </div>
      <div class="product-pagination">
        <%= will_paginate @products, previous_label: '<i class="material-icons">chevron_left</i>', next_label: '<i class="material-icons">chevron_right</i>' %>
      </div>
    <% else %>
      <h2 class="section__title">В категории "<%= @category.name %>" пока что товаров нет</h2>
    <% end %>
  </div>
</section>

