<% content_for :title, "#{@category.name} - купить" %>
<% content_for :description, @category.description %>
<% content_for :keywords, @category.keywords %>
<% content_for :body do %>
  <section id='all-products-block' class="section section--full-height">
    <div class="container">
      <% unless @products.empty? %>
        <h1 id="search-request-client" class="section__title"><%= @category.name %></h1>
        <div id="search-result-client" class="products_grid products_grid--all_products">
          <%= render partial: 'includes/product_card', collection: @products, cached: true %>
        </div>
        <div class="product-pagination">
          <%= will_paginate @products, previous_label: '<i class="material-icons">chevron_left</i>', next_label: '<i class="material-icons">chevron_right</i>' %>
        </div>
      <% else %>
        <h1 id="search-request-client" class="section__title">В категории "<%= @category.name %>" пока что товаров нет</h1>
        <div id="search-result-client" class="products_grid products_grid--all_products">
          
        </div>
      <% end %>
    </div>
  </section>
<% end %>