/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *require_tree . // подключаем все файлы в данной папке, включая вложенные файлы в папку
 *require_self // включаем данный файл
 */

@import "./includes/section.scss";
@import "./includes/dropdown.scss";
@import "./includes/product_pagination.scss";

// Общие стили
* {
  font-family: 'Roboto';
}
html {
  overflow-y: scroll;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
.container {
  width: 100%;
  max-width: 1170px !important;
  margin: 0 auto;
}

// боковое меню
.sidemenu {
  padding-top: 65px;
  li:first-child {
    a {
      height: 48px;
      line-height: 48px;
    }
  }
  li {
    a {
      text-align: left;
      height: 35px;
      line-height: 35px;
    }
  }
}
// в проекте две кнопки
// это эфекты при наведении на них
.purple-hover-btn {
  background-color: #4a148c !important;
  transition: background-color .3s ease !important;
  &:hover {
    background-color: lighten(#4a148c, 10%) !important;
  }
}
.blue-grey-hover-btn {
  background-color: #37474f !important;
  transition: background-color .3s ease !important;
  &:hover {
    background-color: lighten(#37474f, 10%) !important;
  }
}

.modal-close {
  color: black;
  transition: color .3s ease;
  position: absolute;
  top: 0px;
  right: 10px;
  &:hover {
    color: #4a148c;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.eot');
  src: url('/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Roboto-Regular.woff') format('woff'),
  url('/fonts/Roboto-Regular.ttf') format('truetype'),
  url('/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}