@import "font-awesome";

$site_color: #4a148c;
$whatsapp_color: #00e676;
$telegram_color: #36a9e4;
$facebook: #3e5b99;

.links {
  height: 100vh !important;
  &-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      width: 250px;
      margin-bottom: 15px;
      font-size: 25px;
      opacity: 1;
      i {
        font-size: 40px;
      }
      &:hover {
        text-shadow: 0px 0px 2px #fff, ;
      }
    }
    &-logo {
      height: 120px;
      margin-bottom: 20px;
    }
    &-site {
      background-color: $site_color;
      &:hover {
        background-color: $site_color;
      }
    }
    &-telegram {
      background: $telegram_color;
      &:hover {
        background-color: $telegram_color;
      }
    }
    &-facebook {
      background-color: $facebook;
      &:hover {
        background-color: $facebook;
      }
    }
    &-whatsapp {
      background-color: $whatsapp_color;
      &:hover {
        background-color: $whatsapp_color;
      }
    }
  }
}